body {
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);;
}

.intro {
    color: white;
    text-align: left;
    margin: 60px 0;
}

fieldset {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }

#promo {
    background-color: hsl(248, 32%, 49%);
}

#teste {
    background-color: hsl(154, 59%, 51%);
}