* {
    margin: 0;  	
	padding: 0; 
    box-sizing: border-box;
}

.coluna2 {
    
}

body {
    background-image: url('./images/bg-intro-desktop.png');
    background-blend-mode: luminosity;
    background-color: #FF8383;
}

#button {
    background-color: rgb(115, 27, 197);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.textos {
    float: left;
    margin: 50px 30px 0 20px;
    padding-left: 200px;
    
}

#texto1 {
    color: white;  
	width: 300px;
}

#texto2 {
    color: white;  
	width: 200px;
}

.formulario {
    background-color: white;
    text-align: center;
	float: right;
    margin-right: 30%; 
 	
}