body {
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.intro {
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 22em;
    align-items: center;
  }

#promo {
    background-color: hsl(248, 32%, 49%);
    align-items: center;
}

#teste {
    background-color: hsl(154, 59%, 51%);
}