* {
    box-sizing: border-box;
}

#container {

}

.coluna2 {
    padding: 10%;
}

body {
    background-image: url('./images/bg-intro-desktop.png');
    background-blend-mode: luminosity;
    background-color: #FF8383;
}

#button {
    background-color: rgb(115, 27, 197);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.texto {
    color: white;  
	float: left;  	
	width: 440px;
}

.formulario {
    background-color: white;
    text-align: center;
	float: left;  	
	width: 200px;
}